spring:
  application:
    name: category-service
  h2:
    console:
      enabled: 'true'
  jpa:
    defer-datasource-initialization: 'true'
    show-sql: 'true'
    hibernate:
      ddl-auto: create-drop

server:
  port: '8083'
  servlet:
    context-path: /category-service

logging:
  level:
    io:
      swagger:
        models:
          parameters:
            AbstractSerializableParameter: ERROR

springdoc:
  api-docs:
    path: /api-docs
    
